$color-primary: #2264b0;
$color-accent: #55ffda;
$color-tertiary: #fff;
$color-background: #569ada;
$color-background-menu: #103b6a;

$main-font: "Open-Sans", sans-serif;
$headline-font: "Mochiy Pop P One", sans-serif;
