$color-primary: #2264B0;
$color-accent: #55FFDA;
$color-tertiary: #fff;
$color-background: #569ADA;
$color-background-menu: #103B6A;

$main-font: "Open-Sans", sans-serif;
$headline-font: 'Mochiy Pop P One', sans-serif;
