.footer {
  background-color: $color-background;
  color: $color-tertiary;
}
.payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.payment__logo:not(:last-child) {
  margin-right: 20px;
}
.payment__logo {
  height: 20px;
}
