.footer {
  background-color: $color-background;
  color: $color-tertiary;
  padding-bottom: 25px;
}
.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__item {
  margin-bottom: 20px;
}
.footer__headline {
  font-size: 18px;
  padding-bottom: 20px;
}
.social__list {
  display: flex;
  justify-content: flex-start;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__icon {
  width: 25px;
  height: 25px;
  fill: $color-tertiary;

  &:hover,
  &:focus {
    fill: $color-accent;
  }
}
.footer__item--newsletter {
  margin-bottom: 30px;
}
.form__input {
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $color-background;
  width: 100%;
  max-width: 250px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: $color-tertiary;
  transition: all 400ms ease;

  &:focus-within {
    border: 1px solid $color-accent;
    outline: none;
  }
}
::placeholder {
  color: $color-tertiary;
}
.payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.payment__logo:not(:last-child) {
  margin-right: 20px;
}
.payment__logo {
  height: 20px;
}
.footer__copyright {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__headline {
    font-size: 20px;
  }
  .footer__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__item--newsletter {
    text-align: center;
  }
  .footer__item {
    margin-right: 40px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__headline {
    font-size: 24px;
  }
  .footer__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__item--newsletter {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer__item {
    margin-right: 40px;
    margin-bottom: 30px;
  }
}
