.header {
  background-color: $color-tertiary;
}
.header__desktop {
  display: none;
}
.menu__button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu__cart {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu__icon {
  width: 40px;
  height: 40px;
  fill: $color-primary;
  transition: all 400ms ease;

  &:hover,
  &:focus {
    fill: $color-accent;
  }
}
.cart__icon {
  height: 25px;
  width: 25px;
  fill: $color-primary;
  transition: all 400ms ease;

  &:hover,
  &:focus {
    fill: $color-accent;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu__icon {
    width: 50px;
    height: 50px;
  }
  .cart__icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header__mobile {
    display: none;
  }
  .header__desktop {
    display: flex;
  }
  .menu-desktop {
    display: flex;
  }
  .menu-desktop__link {
   color: $color-primary;
  }
  .menu-desktop__item:not(:last-child) {
    margin-right: 40px;
  }
  .menu__cart {
    align-items: flex-end;
  }
  .cart__icon {
    width: 30px;
    height: 30px;
  }
  .header {
    position: sticky;
    top: 0;
  }
  .header__mobile {
    display: none;
  }
  .header__desktop {
    display: flex;
    margin-left: auto;
  }
  .menu-desktop {
    display: flex;
  }
  .menu-desktop__item:not(:last-child) {
    margin-right: 60px;
  }
  .menu-desktop__link {
    color: $color-accent;
    font-weight: 400;
    transition: all 400ms ease-in-out;
  
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
  .menu-desktop__link--active {
    color: $color-accent;
  }
}
