.how-it-works {
  background-color: #fff;
  color: $color-primary;
  text-align: center;
}
.how-it-works__list {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}
.how-it-works__item:not(:last-child) {
 margin-bottom: 10px;
}
.how-it-works__text {
  text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about__headline {
    font-size: 24px;
  }
  .about__second-headline {
    font-size: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .about__headline {
    font-size: 30px;
  }
  .about__second-headline {
    font-size: 24px;
  }
  .about__item {
    width: 50%;
    padding: 0 80px;
  }
  .about__second-headline {
    margin-bottom: 30px;
  }
  .about__text {
    margin-bottom: 30px;
  }
}
