.how-it-works {
  background-color: #fff;
  color: $color-primary;
  text-align: center;
}
.how-it-works__list {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0px;
}
.how-it-works__item:not(:last-child) {
 margin-bottom: 10px;
}
.how-it-works__text {
  text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) {
  .how-it-works__list {
    max-width: 900px;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .how-it-works__item:not(:last-child) {
    margin-bottom: 15px;
   }
   .how-it-works__list {
    margin-bottom: 30px;
   }
   .how-it-works__text {
    text-align: center;
  }
}
