.shop {
  background-color: $color-background-menu;
  padding-bottom: 25px;
}
.shop__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
  color: $color-background-menu;
}
.shop__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px) / 2);
  margin-bottom: 25px;
}
.shop__box {
  margin: 0;
  border-radius: 4px;
  background-color: #fff;

  &:hover,
  &:focus {
    box-shadow: $color-accent 0px 0px 0px 2px, $color-accent 0px 4px 6px -1px,
    $color-accent 0px 1px 0px inset;
}
}
.shop__img {
  width: 100%;
}
.shop__product {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}
.shop__price {
    padding: 0px 10px;
    font-weight: 600;
    font-size: 20px;
}
.shop__icon {
    height: 15px;
    width: 15px;
    fill: $color-background-menu;

    &:hover,
    &:focus {
      fill: $color-accent;
    }
  
}
.shop__cart {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    text-align: center;

    &:hover,
    &:focus {
      fill: $color-accent;
      color: $color-accent;
    }
}

