.title {
  background-color: $color-background;
  text-align: center;
}
.title__img {
  width: 100%;
}
.title__item {
  padding: 20px 0px;
}
.title__item--padding {
  padding: 50px 20px;
  padding-bottom: 15px;
}
.title__headline {
  font-size: 40px;
  font-weight: 600;
  font-family: $headline-font;
}
.title__text {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .title__img {
  }
  .title__item--img {
    display: flex;
    justify-content: center;
  }
  .title__headline {
    font-size: 40px;
  }
  .title__item--padding {
    padding: 50px 40px;
  }
  .title__headline {
    font-size: 50px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
  .title__img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .title__item {
    max-width: 50%;
  }
  .title__item--padding {
    padding: 0px 80px;
  }
  .title__headline {
    font-size: 70px;
    line-height: 1.6;
  }
  .title__text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
