.button {
    width: 150px;
    height: 50px;
    text-align: center;
    color: $color-tertiary;
    background-color: $color-background-menu;
    border: none;
    transition: all 400ms ease-in-out;
    border: 1px solid $color-accent;
    border-radius: 25px;
  
    &:hover,
    &:focus {
      background-color: $color-background;
    }
}
.button--cart {
  background-color: $color-background;
  width: 170px;

  &:hover,
    &:focus {
      background-color: $color-background-menu;
    }
}