.button {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-family: $main-font;
    text-align: center;
    color: $color-tertiary;
    background-color: $color-background-menu;
    border: none;
    transition: all 400ms ease-in-out;
    border: 1px solid $color-accent;
    border-radius: 25px;
    transition: all 400ms ease;
  
    &:hover,
    &:focus {
      background-color: $color-background;
    }
}
.button--cart {
  background-color: $color-background;
  width: 170px;
  transition: all 400ms ease;

  &:hover,
    &:focus {
      background-color: $color-background-menu;
    }
}
@media screen and (min-width: 1200px) {
  .button {
    width: 170px;
    height: 70px;
    border-radius: 35px;
    font-size: 20px;
  }
  .button--cart {
    width: 200px;
    height: 70px;
    border-radius: 35px;
  }
}